
@font-face {
  font-family: 'OscineTrial';
  src: url('OscineTrial.eot?#iefix') format('embedded-opentype'),  url('OscineTrial.woff') format('woff'), url('OscineTrial.ttf')  format('truetype'), url('OscineTrial.svg#OscineTrial') format('svg');
  font-weight: normal;
  font-style: normal;
}
